{% extends 'base.html.twig' %}
{% block title %}Home page{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div id="message" class="alert col-md-12" style="display: none"></div>
        <div class="col-md-12">
            <form method="POST" data-path="/add-task">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Имя">
                </div>
                <div class="form-group">
                    <label for="email">Почта</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Почта">
                </div>
                <div class="form-group">
                    <label for="text">Текст задачи</label>
                    <textarea class="form-control" id="text" rows="5" name="text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
        <div class="col-md-12 mt-2">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="desc">
                        Имя пользователя
                        <a href="/{{ currentPage }}?name={% if order['name'] == 'DESC' %}ASC{% else %}DESC{% endif %}">
                            <i class="fas fa-sort text-right"></i>
                        </a>
                    </th>
                    <th scope="col">
                        Почта
                        <a href="">
                            <a href="/{{ currentPage }}?email={% if order['email'] == 'DESC' %}ASC{% else %}DESC{% endif %}">
                                <i class="fas fa-sort text-right"></i>
                            </a>
                        </a>
                    </th>
                    <th scope="col">Текст задачи</th>
                    <th scope="col">
                        Статус
                        <a href="/{{ currentPage }}?status={% if order['status'] == 'DESC' %}ASC{% else %}DESC{% endif %}">
                            <i class="fas fa-sort text-right"></i>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <th scope="row">{{ task.id }}</th>
                        <td>
                            {% if userId %}
                                <a href="{{ basePath }}/edit-task/{{ task.id }}">
                                    {{ task.user.name }}
                                </a>
                            {% else %}
                                {{ task.user.name }}
                            {% endif %}
                        </td>
                        <td>{{ task.user.email }}</td>
                        <td>{{ task.text }}</td>
                        <td>
                            {% if task.isDone %} Выполнено {% else %} Не выполнено {% endif %}
                            {% if task.isChangedByAdmin %}<br> Отредактировано администратором {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ pagination|raw }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ public }}/js/main.js"></script>
{% endblock %}
