{% extends 'base.html.twig' %}
{% block title %}Edit task page{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="row">
        <a href="{{ basePath }}">Назад</a>
        {% if successMessage %}
            <div class="alert alert-info col-md-12">{{ successMessage }}</div>
        {% endif %}
        {% if task %}
            <div class="col-md-12">
                <form method="POST" data-path="/add-task">
                    <div class="form-group">
                        <label for="text">Текст задачи</label>
                        <textarea class="form-control" id="text" rows="5" name="text">{{ task.text }}</textarea>
                    </div>
                    <div class="form-check mb-2">
                        <input type="checkbox" class="form-check-input" id="isDone" name="isDone"
                                {% if task.isDone %} checked{% endif %}
                        >
                        <label class="form-check-label" for="isDone">Выполнено</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-danger">Задача не найдена</div>
            </div>
        {% endif %}
    </div>
{% endblock %}
