{% extends 'base.html.twig' %}
{% block title %}Login page{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="row">
        <a href="{{ basePath }}">Назад</a>
        <div id="message" class="alert col-md-12" style="display: none"></div>
        <div class="col-md-12">
            <form method="POST" data-path="/login">
                <div class="form-group">
                    <label for="email">Почта</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Почта">
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ public }}/js/main.js" ></script>
{% endblock %}
