{% if pagesCount > 1 %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if previousPage %}
                <li class="page-item">
                    <a class="page-link" href="/{{ previousPage }}{% if orderQuery %}{{ orderQuery }}{% endif %}">
                        Назад
                    </a>
                </li>
            {% endif %}
            {% for pageNum in 1..pagesCount %}
                <li class="page-item">
                    <a class="page-link" href="/{{ pageNum }}{% if orderQuery %}{{ orderQuery }}{% endif %}">
                        {{ pageNum }}
                    </a>
                </li>
            {% endfor %}
            {% if nextPage %}
                <li class="page-item">
                    <a class="page-link" href="/{{ nextPage }}{% if orderQuery %}{{ orderQuery }}{% endif %}">
                        Вперед
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}